<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>AirlineDombrovsky</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

        <filter>
            <filter-name>springSecurityFilterChain</filter-name>
            <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>springSecurityFilterChain</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
    <!--
        SPRING MVC
    -->

    <servlet>
        <servlet-name>Spring MVC Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Spring MVC Servlet</servlet-name>
        <url-pattern>/controller/airline/*</url-pattern>
        <url-pattern>/controller/airline/validate/*</url-pattern>
        <url-pattern>/controller/airport/*</url-pattern>
        <url-pattern>/controller/crew/*</url-pattern>
        <url-pattern>/controller/flight/*</url-pattern>
        <url-pattern>/controller/staff/*</url-pattern>
        <url-pattern>/controller/user/*</url-pattern>
        <url-pattern>/login/*</url-pattern>
        <url-pattern>/logout/*</url-pattern>
        <url-pattern>/access_denied/*</url-pattern>
    </servlet-mapping>

    <!--
        SPRING ROOT WEB APPLICATION CONTEXT
    -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/dispatcher-servlet.xml, classpath:spring/security-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <!--
        <error-page>
            <error-code>404</error-code>
            <location>/jsp/error/error.jsp</location>
        </error-page>
        <error-page>
            <exception-type>java.lang.RuntimeException</exception-type>
            <location>/jsp/error/error.jsp</location>
        </error-page>
    -->
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
</web-app>